extends ../layout

block content

	style.
		body{
		background: #42a3fd;
		}

		.loginSection{
			text-align:right;
			margin-top: 20px;
			margin-right: 40px;
		}

		.fbLoginForm{
			padding-top: 10px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}

		.fbLoginForm .head{
			font-weight: 400;
		}

		.socialSection{
			padding: 15px;
		}
		.loginSection p{
			font-size: 1.2em;
			color:white;
		}
		.loginSection .login{

		}

		.share-btn.facebook{
			border-radius:5px;
			padding-top:15px !important;
			padding-bottom:15px !important;
			box-shadow:none !important;
		}

		.share-btn.facebook:hover{
			background-color: #19305f !important;
		}

		.emailgroup{
			margin-bottom: 5px;
		}

		.localform{
			padding: 10px 20px;
		}

		.btncharlysubmit{
			background-color:#EC5D57;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			border: 1px #5BA3B7;
			cursor: pointer;
			padding: 20px 25px;
		}


		.btncharlysubmit:hover{
			background-color: #5BA3B7;
			border: white;
		}

	.loginSection
		p
			b Déjà inscrit?
				a.login(href="login")  Se connecter
	.col-md-3

	.col-md-6
		.fbLoginForm
			p.head Inscription
			//- br
			.socialSection
				a.btn.btn-default.share-btn.facebook(href="/auth/facebook", type='submit', class="btnInstall")
					i.fa.fa-facebook.fa-lg
					|  Continuer avec Facebook

			p ________________ ou ________________
			p #{message}

			form.form-horizontal.localform(role='form', method='POST', action='/members/loggedfb')

				.input-group.margin-bottom-sm.emailgroup
					span.input-group-addon
						i.fa.fa-envelope-o.fa-fw(aria-hidden='true')
					input.form-control(type='text', placeholder='Email*', name='email', value='#{user.email}')

				.input-group
					span.input-group-addon
						i.fa.fa-key.fa-fw(aria-hidden='true')
					input.form-control(type='password', placeholder='Mot de passe*', name='password', value='#{user.password}')
				br
				.form-group
					.col-sm-2
					.col-sm-8
						input#inputFirstName.form-control(type='text', placeholder='Prénom*', name='first_name', value='#{user.first_name}')
					.col-sm-2

				.form-group
					.col-sm-2
					.col-sm-8
						input#inputAge.form-control(type='number', placeholder='Votre âge*', name='age', value='#{user.age}')
					.col-sm-2

				.radio-inline
					label
						input#optionsRadios1(type='radio', name='genderradios', value='female', checked='')
						| Femme
				.radio-inline
					label
						input#optionsRadios2(type='radio', name='genderradios', value='male')
						| Homme

				br
				br
				button.btn.btn-default.btncharlysubmit(type='submit') Je m'inscris gratuitement

		br
		br
		br
	.col-md-3

