extends ../layout3

block content

	style.
		.faq p{
			margin-bottom:20px;
		}
	.container(style="margin-bottom: 50px;margin-top:50px;")
		.our-team.text-center.row
			.col-xs-12
				header.team-info.section-header
					if(lang == 'fr')
						h2
							| Foire aux
							strong.border-none  Questions
					if(lang == 'en')
						h2
							| Frequently asked 
							strong.border-none  Questions

				.row.faq
					.col-md-6(style="text-align: justify; text-justify: inter-word;")
						h4 #{__("fq01Title")}
						p #{__("fq01Txt")}

						h4 #{__("fq02Title")}
						p #{__("fq02Txt")}

						h4 #{__("fq03Title")}
						p #{__("fq03Txt")}

					.col-md-6(style="text-align: justify; text-justify: inter-word;")
						h4 #{__("fq04Title")}
						p #{__("fq04Txt")}

						h4 #{__("fq05Title")}
						p #{__("fq05Txt")}

						h4 #{__("fq06Title")}
						p #{__("fq06Txt")}